[submodule "server/libusbx"]
	path = server/libusbx
	url = https://git.approximate.life/libusbx.git
[submodule "server/libwebsockets"]
	path = server/libwebsockets
	url = https://git.approximate.life/libwebsockets.git
[submodule "server/rapidjson"]
	path = server/rapidjson
	url = https://git.approximate.life/rapidjson.git
